src/config/config.json
venv
venv-intellij
intellij-venv
.env


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environment
.venv
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/*
!logs/.gitkeep

# Testing
.coverage
htmlcov/
.pytest_cache/

*.csv